
@{
  ViewData["Title"] = "Access Denied";
  Layout = "_ErrorLayout";
}

<div style="text-align: center; padding-top: 400px;">
  <img src="~/images/bejebeje-logo.svg" alt="bejebeje's logo, a B shape with mountains" style="margin-bottom: 50px;" />

  <h1>Sorry, you're not authorized</h1>
</div>