@model ViewModels.LyricSlug.LyricSlugEditViewModel

@{
  ViewData["Title"] = "Edit";
}

<h1>Edit lyric slug</h1>

<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      <input asp-for="Id" type="hidden" />
      <input asp-for="LyricId" type="hidden" />

      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>

      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="IsPrimary" /> @Html.DisplayNameFor(model => model.IsPrimary)
        </label>
      </div>

      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
        </label>
      </div>

      <div class="form-group">
        <input type="submit" value="Edit lyric slug" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Details" asp-controller="Lyric" asp-route-id="@Model.LyricId">Back to lyric details</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
